.wrap-lobby {
  border: 1px solid #2f3247;
  height: 80%;
  box-shadow: 0px 0px 20px 0px #2f3247;
}

.head-lobby {
  height: 20%;
}

.head-lobby-lettering {
  font-size: 3em;
  text-shadow: #2f3247 5px 5px 5px;
}

.buttons-lobby > .btn {
  background-color: #227855;
  color: #fff;
  box-shadow: #2f3247 5px 5px 5px;
}

.buttons-lobby > .btn:hover {
  background-color: #6ba368;
}

.body-lobby {
  height: 80%;
}
