.transactionHeader {
  height: 10%;
}
.trasactionBody {
  min-height: 50%;
  max-height: 80%;
  /* overflow-y: scroll; */
}

.transactionBody_table {
    overflow-y: hidden;
}
.transactionFooter {
  height: 10%;
}
