.paginationDesign {
  max-height: 10vh;
}

.paginationDesign_btn {
  border-radius: 0.2em;
  padding: 0 0.4em;
  background-color: #3d405b;
  text-shadow: 1px 1px 1px black;
  box-shadow: #444 2px 2px 3px;
  color: white;
  font-size: 2em;
  opacity: 0.8;
  border: 1px solid #333;
}

.paginationDesign_btn:disabled {
  cursor: not-allowed;
  background-color: #282a38;
}

.paginationDesign_page {
  font-size: 1.5em;
  padding: 0.5em;
  color: #fff;
  text-shadow: 1px 1px 1px black;
}
