.container-lobby {
  min-height: 100vh;
}

.head-lobby {
  min-height: 10vh;
}

.buttons-lobby {
  background-color: #F37265;
}

.body-lobby {
  height: 60vh;
}

.rs-lettering {
  font-size: 3em;
}

.border-black-rs {
  border: 1px solid #2f324760;
}

.st-back-rs {
  text-shadow: #2f3247 5px 5px 5px;
}

.bs-white-rs {
  box-shadow: 0px 0px 20px 0px #2f3247;
}

