/* Global color styles */
.bg-black-rs {
  background-color: #3d405b;
}


/* Global shadows */
.btn-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* dev bg-color */
body{
  background-color: #3d405b;
}

