/* Global color styles */
.bg-black-rs {
  background-color: #3d405b;
}


/* Global components */
.btn-orange {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #F37265;
}

.btn-orange:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #d85246;
}

/* dev bg-color */
body{
  background-color: #3d405b;
}

