/* Global color styles */
.bg-black-rs {
  background-color: #3d405b;
}

.bg-black-dark-rs {
  background-color: #2f3247;
}

/* Global sizes */
.navbarDesign {
  height: 15vh;
}

.contentDesign {
  background-color: grey;
  height: 85vh;
}

/* COLORS
#F37265
#d85246
#9cfc97
#6ba368
#df4436
 */
